*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(61, 61, 61);
}


.section{
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.card {
    border: 2px solid #000000;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: rgb(255, 91, 91);
    height: 300px;
    width: 500px;

    
}
.card img {
    max-width: 150px;
    height: 150px;
}
.card p {
    font-size: 20px;
    color: #000000;
}
.card button {
    background-color: #0d65eb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}